* {
  box-sizing: border-box;
}
body, html{
  min-height: 100vh;
}
body{
  margin: 10px;
  background-color: bisque;
  color: rgb(35, 56, 100);
}
nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(35, 56, 100);;
}
nav *{
  text-decoration: none;
  color: rgb(35, 56, 100);
  font-size: x-large;
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: context-menu;
  user-select: none;
}
.nav-items{ 
  list-style-type: none; 
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.nav-item{
  font-weight: bolder;
  margin-left: 10px;
  padding: 1px;
}
.nav-item a:hover{
  color: #16161663;
}
.nav-item a:active{
  color: bisque;
}
nav .home{
  font-weight: bolder;
  padding: 1px;
}
nav .home:hover{
  color: #16161663;
}
nav .home:active{
  color: bisque;
}
footer{
  position: relative;
  top: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > img{
  margin-top: auto;
  min-width: 25px;
  max-width: 100%;
  height: auto;
  margin: 5px;
}
footer p{
  margin: 5px;
}
/* Index Body CSS */
h1{
  box-shadow: 1px 1px rgba(0, 0, 0, 0.226);
  margin-bottom: 2px;
}
.flex-container{
  display: flex;
  justify-content: center;
}
/* ---------------- */
/* Services Body CSS */
.grid-container{
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.grid-container > section{
  padding: 20px;
  border: 1px solid hsl(33, 100%, 70%);
  border-radius: 2px;
  background-color: hsl(38, 100%, 92%);
}
.grid-container > section:hover{
 box-shadow: 2px 2px 2px hsl(38, 67%, 47%);
 color: green;
}
.grid-container section > img{
  width: 25px;
  height: 25px;
}
/* ---------------- */
/* Contact Body CSS */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container > form{
  border: 2px solid transparent;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: auto;
  gap: 10px;
  align-items: center;
  padding: 5px;
  margin: 20px;
  animation: button-animation 4s linear infinite;
  animation-delay: 1s;
}
.form-container > form *{
 margin: 2px;
 padding: 2px;
 border-radius: 5px;
}

.form-container > form > button{
  border: 1px solid bisque;
  color: rgb(40, 42, 46);
  background-color: transparent;
}
.form-container > form > button:hover{
  border: 1px solid rgba(165, 42, 42, 0.11);
  color: rgb(253, 148, 77);
  background-color: transparent;
}
@keyframes button-animation {
  10% {
    border-left: 2px solid (5, 124, 221, 0.5);
  }
  20% {
    border-top: 2px solid rgba(30, 255, 0, 0.5);
  }
  30% {
    border-right: 2px solid rgba(48, 194, 3, 0.5);
  }
  40% {
    border-bottom: 2px solid rgb(5, 221, 221, 0.5);
  }
  50% {
    border-left: 2px solid rgba(5, 124, 221, 0.5);
  }
}
/* ---------------- */


@media (max-width: 1024px) {
  body {
      background-color: rgb(204, 116, 44);
  }
  .form-container > form{
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 20px;
    animation: button-animation 4s linear infinite;
    animation-delay: 1s;
  }
}
@media (max-width: 768px) {
  body {
      background-color: rgb(13, 139, 180);
  }
  .form-container > form{
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 20px;
    animation: button-animation 4s linear infinite;
    animation-delay: 1s;
  }
}
@media (max-width: 480px) {
  body {
      background-color: rgb(204, 179, 151);
  }
  .form-container > form{
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 20px;
    animation: button-animation 4s linear infinite;
    animation-delay: 1s;
  }
  nav *{
    text-decoration: none;
    color: rgb(35, 56, 100);
    font-size: large;
    margin-top: 3px;
    margin-bottom: 8px;
    cursor: context-menu;
    user-select: none;
  }
  .grid-container{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(1, 1fr); /* 4 equal columns */
    grid-template-rows: auto;
    gap: 10px;
  }
  .flex-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 5px;
  }
}